<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Biblioteca Virtual</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

    <!-- CSS do site -->
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ProjetoLAM.styles.css" asp-append-version="true" />
</head>
<body class="bg-light text-dark min-vh-100 d-flex flex-column">

    <!-- NAVBAR -->
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark">
            <div class="container-fluid">
                <a class="navbar-brand fw-bold" asp-area="" asp-controller="Home" asp-action="Index">Biblioteca Virtual</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Página Inicial</a></li>
                        <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Home" asp-action="Privacy">Política de Privacidade</a></li>
                        <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="LivrosDisponiveis" asp-action="Index">Catálogo de Livros</a></li>
                        <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Generos" asp-action="Index">Gêneros de Livros</a></li>
                        <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Livros" asp-action="Index">Gerenciar Livros</a></li>
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>

    <!-- CONTEÚDO PRINCIPAL -->
    <div class="container py-4 flex-grow-1">
        <main role="main">
            @RenderBody()
        </main>
    </div>

    <!-- RODAPÉ -->
    <footer class="footer mt-auto">
        &copy; 2025 - Biblioteca Virtual - ProjetoLAM
        <a asp-area="" asp-controller="Home" asp-action="Privacy">Política de Privacidade</a>
    </footer>

    <!-- SCRIPTS -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
